$base-font-size: 16;
$pp: "Poppins", sans-serif;

$white: #fff;

$primary-font: #617182;
$primary-link: #736cc7;
$primary-hover: #6861c3;
$muted: #839bb3;

$background: #f0f6ff;
$dark-blue-1: #191d38;
$dark-blue-2: #161931;




