@import "../../assets/scss/global.scss";

.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  &__card {
    &.card {
      max-width: 390px;
      box-shadow: 0 10px 40px 0 rgba(18, 106, 211, 0.07),
        0 2px 9px 0 rgba(18, 106, 211, 0.06);
      border: none;
      margin-bottom: 1.875rem;
      transition: all 0.3s ease;
    }
  }
  &__wrapper {
    flex: 1 1 auto;
    padding: 1.25rem;
    .brand {
      display: block;
      text-align: center;
      margin-bottom: 20px;
    }
    .heading {
      font-size: 16px;
      font-size: calc-rem-value(16);
      text-align: center;
      margin-bottom: 20px;
    }
    .checkbox {
      display: flex;
      justify-content: space-between;
      margin: 20px 0 10px;
      .form-check {
        position: relative;
        display: inline-flex;
        min-height: 1.5rem;
        padding-left: 1.5rem;
        label {
          font-size: 14px;
          font-size: calc-rem-value(14);
          padding-top: 2px;
        }
      }
    }
    .text-muted {
      margin: 25px 0 0;
      padding: 0;
      color: $muted;
    }
  }
}
